.contact .jumbotron {
    margin-top: 5rem;
    background-color: #fff;
}

.contact .contact__hero-image {
    width: 100%;
    margin-top: -5rem;
}

.contact .contact__form {
    padding: 2.5rem;
    background-color: #fff;
    box-shadow: 0 .5rem 1.5rem 0 rgba(0, 0, 0, .11);
    border-radius: .625rem;
}
