.posts .jumbotron {
    margin-top: 5rem;
    color: #fff;
    background-color: #3d80e4;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, .11);
}

.posts .heading {
    margin-top: 5rem;
    font-size: 3rem;
    font-weight: 300;
    line-height: 4.5rem;
    text-align: center;
}

.posts .posts__list {
    margin: 2rem 0;
    padding: 0;
    list-style-type: none;
}

.list .list__item {
    padding: .5rem 1rem;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, .11);
}

.item .item__title {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
}

.item .item__body {
    font-size: 1.25rem;
    line-height: 2.375rem;
    font-weight: 300;
}